<ul class="recipe-options-list">
  <li class="recipe-options">
    <span>Makes</span>
    <input type="text" name="name" value="">
    <span>servings</span>
  </li>
  <li class="recipe-options">
    <input type="radio" name="name" value="">
    <span>US</span>
    <input type="radio" name="name" value="">
    <span>Metric</span>
  </li>
  <li class="recipe-options">
    <button type="button" name="button">Adjust recipe</button>
  </li>
</ul>


<ul class="recipe-ingredients-list">
  <li class="recipe-ingredients">
    <input type="checkbox" name="name" value="">
    <span>1 cup ingredient</span>
  </li>
  <li class="recipe-ingredients">
    <input type="checkbox" name="name" value="">
    <span>1 cup ingredient</span>
  </li>
  <li class="recipe-ingredients">
    <input type="checkbox" name="name" value="">
    <span>1 cup ingredient</span>
  </li>
  <li class="recipe-ingredients">
    <input type="checkbox" name="name" value="">
    <span>1 cup ingredient</span>
  </li>
  <li class="recipe-ingredients">
    <input type="checkbox" name="name" value="">
    <span>1 cup ingredient</span>
  </li>
  <li class="recipe-ingredients">
    <input type="checkbox" name="name" value="">
    <span>1 cup ingredient</span>
  </li>
  <li class="recipe-ingredients">
    <input type="checkbox" name="name" value="">
    <span>1 cup ingredient</span>
  </li>
  <li class="recipe-ingredients">
    <input type="checkbox" name="name" value="">
    <span>1 cup ingredient</span>
  </li>
  <li class="recipe-ingredients">
    <input type="checkbox" name="name" value="">
    <span>1 cup ingredient</span>
  </li>
  <li class="recipe-ingredients">
    <input type="checkbox" name="name" value="">
    <span>1 cup ingredient</span>
  </li>
  <li class="recipe-ingredients">
    <input type="checkbox" name="name" value="">
    <span>1 cup ingredient</span>
  </li>
  <li class="recipe-ingredients">
    <input type="checkbox" name="name" value="">
    <span>1 cup ingredient</span>
  </li>
  <li class="recipe-ingredients">
    <input type="checkbox" name="name" value="">
    <span>1 cup ingredient</span>
  </li>
</ul>

{{outlet}}
